body {
  min-height: 100vh;
}

#contentColumn {
  padding-left: 144px;
}

#sidebar {
  min-width: 150px;
  max-width: 150px;
  padding: 0;
  text-align: center;
  background-color: rgb(54, 31, 54);
  color: white;
}

#sidebar-toggle {
  position: fixed;
  margin-top: 10px;
  z-index: 1;
}

button {
  border-radius: 0 !important;
  color: white !important;
  background-color: black !important;
}
button:hover {
  background-color: grey !important;
}

#searchbar {
  transition: hide 0s;
  max-width: 100%;
}

#categories-list {
  transition: hide 0s;
}

#ingredients-list {
  transition: hide 0s;
}

#glass-list {
  transition: hide 0s;
}

#footer {
  position: absolute;
  bottom: 10px;
}

/* testing animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  animation: fadeIn 3s;
}
