body {
  min-height: 100vh;
}

#contentColumn {
  padding-left: 144px;
}

#sidebar {
  min-width: 150px;
  max-width: 150px;
  padding: 0;
  text-align: center;
}

#sidebar-toggle {
  position: fixed;
  margin-top: 10px;
}
