body {
  min-height: 100vh;
}

#contentColumn {
  padding-left: 144px;
}

#sidebar {
  min-width: 150px;
  max-width: 150px;
  padding: 0;
  text-align: center;
  background-color: #1f1f1f;
  color: rgb(109, 108, 108);
}

#sidebar-toggle {
  position: fixed;
  margin-top: 10px;
  z-index: 2;
}

button {
  border-radius: 0 !important;
  color: #14a76c !important;
  background-color: #1f1f1f !important;
}

.submenuBtn {
  color: #14a76c !important;
  background-color: #2a2a2a !important;
  /* border: 0.5px solid black; */
}

button:hover {
  background-color: grey !important;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

#searchbar {
  transition: height 0.3s linear;
  max-width: 100%;
}

#categories-list {
  transition: ease-in 0.5;
}

#ingredients-list {
  transition: ease-in 0.5;
}

#glass-list {
  transition: ease-in 0.5;
}

#footer {
  position: absolute;
  bottom: 10px;
}

/* testing animations */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.box {
  animation: fadeIn 3s;
}

.fa-chevron-down {
  color: #14a76c;
  float: right;
}
