* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  background: #2f2f2f;
  height: 100%;
}

body {
  min-height: 100vh;
}

.card {
  margin: 15px;
}

.cardDiv {
  padding: 15px;
  box-sizing: border-box;
  margin: 15px;
}

.card-body {
  background-color: #ca5227 !important;
}
