@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  color: #14a76c;
}

html,
body {
  background: #2f2f2f;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
}

.card {
  margin: 15px;
  border-radius: 25px !important;
}

.cardDiv {
  padding: 15px;
  box-sizing: border-box;
  margin: 15px;
}

.card-body {
  background-color: #ca5227 !important;
}

.fa-cocktail {
  color: #14a76c;
}

h1 {
  color: #14a76c;
  margin-top: 5px;
}

ul {
  padding: 0;
  margin: 0;
}

.fadedfx {
  visibility: hidden;
}

.fadeIn {
  animation-name: fadeIn;
  -webkit-animation-name: fadeIn;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
  visibility: visible !important;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

hr {
  margin: 0 auto;
  border: 2px solid #14a76c;
  border-radius: 12px;
  width: 75%;
}

#instructions {
  color: #14a76c;
}

.aboutButton,
.saveButton {
  border: 0;
}
